html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #202020;
    color: #fff;
    li {
        a {
            color: #fff;
        }
    }
}

header {
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 200;
        text-align: center;
    }
}